body {
    /* background-color: rgb(0, 0, 0); */
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: min(90%, 1200px);
}

.flex-center {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 20px;
    display: inline-flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.61);
}

button {
    padding: 10px 30px;
    width: 115px;
}
button:hover {
    cursor: pointer;
}

.score {
    margin-top: 40px;
    text-align: center;
}

.score__player,
.score__computer {
    font-weight: bold;
}

.score__text {
    font-weight: lighter;
}
